@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jalnan";
  src: url("./font/Jalnan.ttf");
}

@font-face {
  font-family: "S-Core_Regular";
  src: url("./font/S-Core_Dream_OTF/SCDream4.otf");
}

@font-face {
  font-family: "S-Core_Medium";
  src: url("./font/S-Core_Dream_OTF/SCDream5.otf");
}

@font-face {
  font-family: "S-Core_Bold";
  src: url("./font/S-Core_Dream_OTF/SCDream6.otf");
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 5px;
  }
}

/* styles */
body,
body {
  --tx-white: #eaeaea;
  --bg-main: #ffffff;
  --bg-sub: #f4f4f4;
  --bg-a5: rgba(255, 255, 255, 0.5);
  --bg-a7: rgba(255, 255, 255, 0.7);
  --tx-main: #111111;
  --tx-sub: #555555;
  --tx-sub-dark: #333333;
  --tx-accent: #159eee;
  --tx-accent-light: #99cfe5;
  --tx-wb: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  @apply text-slate-900 min-h-screen;
}

@layer base {
  html {
    font-family: "S-Core_Regular", system-ui, sans-serif;
  }
}

.prose {
  max-width: none;
}

.prose h2 {
  font-size: 1.8em;
}

.prose h3 {
  font-size: 1.5em;
}

.prose a {
  color: inherit;
  @apply underline decoration-sky-500 decoration-2 hover:decoration-sky-800;
}

.prose p code,
.prose ul code {
  @apply text-sky-900;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  @apply bg-white;
  @apply border border-solid border-sky-800;
}

.prose img {
  margin-top: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply bg-white;
  @apply text-slate-900;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fbf1c7;
  background: #7c6f64;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply border border-solid border-sky-800;
  border-radius: 7px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 14px;
}

.token {
  font-size: 14px;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #808b97;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ff7b79;
}

.token.operator,
.token.punctuation,
.token.attr-name {
  @apply text-slate-900;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #15a5cf;
}

.token.entity,
.token.number,
.token.symbol {
  color: #59c0ff;
}

.token.string,
.token.char {
  color: #ffa657;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984;
}

.token.url {
  color: #c0edf6;
  text-decoration: underline;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984;
}

.token.deleted {
  background: #bb8395;
}

.code-line {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  @apply text-slate-900;
}

.rehype-code-title {
  @apply text-slate-900;
  @apply bg-white;
  @apply border border-solid border-y-sky-800;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px 16px;
  font-weight: 700;
  margin-top: 8px;
  font-size: 14px;
}

.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  font-size: 14px;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.3); /* Set highlight bg color */
  border-left-width: 4px;
  font-size: 14px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
